
body, p, ol, ul,td {
	
font-family: verdana, arial, helvetica, sans-serif, Geneva, Arial;
font-size: small;
line-height: 18px;

}
div#container {
width: 760px;
margin: 0px auto;
}
div#user_nav a{	
	color: #C2C2C2
}
table#user{
	color :azure;
}
table{
border-collapse:;
border-spacing:px;	
border: 1px solid;
vertical-align: middle;
margin : auto;
padding : 0px;
text-align: left;

border-radius: 0px;
border-color: black;

}
table tr{
	border-bottom:1px solid;
	border-bottom-color: #282828;
	
}
table thead{
	background:#000000;
	color :#FFFFFF;
	
}
table tbody	tr{
	padding :;
	
}
div#header {
	width: 775px;
background-color: black;
text-align:center;
padding: 2px;
color:azure;

}
div#content {
	background-color: #c3e7a9;
float: left;
width: 100%;
padding: 10px;
border-radius: 10px;

}
div#content h3 {
margin-top: 15px;
}
pre {
background-color: #eee;
padding: 10px;
font-size: 11px;
}
a { color: #000; }
a:visited{}
a:hover { color: #fff; background-color:#000; }
div#notice {
padding:10px;
background-color: #E1F5B7;
width: 759px;

}


body {
vertical-align:middle;
display: block;
margin-right:auto;

}
#nav{
	position:relative;
	width:620px;
	margin:0 auto;
	margin-top:10px;
	padding: 10px;
}
ul#navigation{
	margin: 0px auto;
	position:relative;
	float: left;
	border-left:0px solid #c4dbe7;
	border-right:0px solid #c4dbe7;
}
ul#navigation li{
	display:inline;
	font-size: 12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:0;
	position:relative;
	border-top:1px sold #C4DBE7;
	border-bottom:2x solid #C4DBE7;
}
ul#navigation li a {
	padding:10px 25px;
	color:#616161;
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-block;
	border-right:1px solid #fff;
	border-left: 1px solid #c2c2c2;
	border-top:1px solid #fff;
	background: #f5f5f5;
	
	-webkit-transition:color 0.2s linear, background 0.2s linear;
	-moz-transition:color 0.2s linear, background 0.2s linear;
	-o-transition:color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
	
}
ul#navigation li a:hover {
	background:#f8f8f8;
	color:#282828;
	
}
ul#navigation li a.first{
	border-left:0px none;
	
}
ul#navigation li a.last{
	border-right:0px none;
	
}
ul#navigation li:hover>a{
	background:#fff;
}
/*dropdown navigation*/
ul#navigation li:hover>ul
{
	/*these 2 styles are very important, being the ones which make the dropdown to appear on hover*/
	visibility: visible;
	opacity:1;
}

ul#navigation ul, ul#navigation ul li ul{
	list-style: none;
	margin: 0;
	padding:0;
	
	/*the next 2 styles are very important, being the ones which make the dropdown to stay hidden */
	visibility: hidden;
	opacity:0;
	position: absolute;
	z-index: 999999;
	width:180px;
	background:#F8F8F8;
	box-shadow: 1px 1px 3px #ccc;
	/* css3 transitions for smooth hover effect */
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
	-o-transition: opacity 0.2s linear, visibility 0.2s linear;
	transition: opacity 0.2s linear, visibility 0.2s linear;
}
ul#navigation ul{
	top:43px;
	left:1px;
}
ul#navigation ul li ul{
	top:0;
	left:181px; /*strong related to width:180px; from above*/
}
ul#navigation ul li{
	clear:both;
	width:100%;
	border:0 none;
	border-bottom: 1px solid #c9c9c9;
}
ul#navigation ul li a{
	background: none;
	padding:7px 15px;
	color;#616161;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	display: inline-block;
	border:0 none;
	float:left;
	clear:both;
	width: 150px;
	}
