<h3>VOS RESERVATIONS</h3>
<table>
	<thead>
		<tr>
			
			<td><b>Nom</b></td>
			<td><b>Quantité</b></td>
		</tr>
	</thead>
	<tbody>
		<%if @reserves.nil?%>
		<tr>
			<td>
				<%flash[:notice]="Selectionnez un article puis precisez la quantité à reserver."%>
		<%else%>
		<%@reserves.each do |rez|%>
			</td>
			
		</tr>
		
		<tr>
			
			
			<td><%=rez.item.name%></td>
			<td><%=rez.quantity%></td>
			<td><%=link_to 'Annuler',{:action=>'delete',:id=>rez.id}%></td>
	
		</tr>
		<%end%>
			
<td><%=button_to 'Vider panier', :action=>'clear'%></td>
		<%end%>
		
	</tbody>
</table>