<h2>Articles en stock et réservation</h2>
<table>
	<thead>
		<tr>
			
			<td><b>Nom</b></td>
			<td><b>Quantité</b></td>
			<td>Opération</td>
		</tr>
	</thead>
	<tbody>
	<%if current_user.customer.bookings%>
			<%@reserves.each do |rez|%>
		<tr>
			
			<td><%=rez.item.name%></td>
			<td><%="#{rez.quantity} #{rez.item.unit.pluralize(rez.quantity)}"%></td>
			<td><%=link_to 'Annuler',bookings_delete_path(:id=>rez.id), class:'deleteButton'%></td>
			
		</tr>
			
		<%end%>
		<%else%>
		
			
	<%end%>
		
	</tbody>
</table>