<h2>Droits d'accès</h2>

<table>
	<thead>
		<tr>
			<td>Nom</td>
			<td>Description du droit d'accès</td>
			<td>Operéation</td>
		</tr>
	</thead>
	<tbody>
<%@roles.each do |r|%>		
		<tr>
			<td><%=r.title%></td>
			<td><%=r.description%></td>
			<td><%=link_to 'Modifier',admin_role_edit_path(:id=>r.id),class:'editButton'%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%=link_to 'Nouveau', admin_role_new_path(),class:'newButton'%>